<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p id="copyright"></p>
      </div>
    </div>

  </div>

</footer>
<script>
  document.getElementById('copyright').innerHTML = '&copy; ' + new Date().getFullYear() + ' Tolexx';
</script>