---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h2 style="font-weight: bold;">Hey there &#128075! welcome to my space!</h2>

  <p>
    My name is Tochukwu. I am a software engineer 👨‍💻. I enjoy writing
    software, solving problems, building products, as well as fiddling with different tools and technologies.
    This is where I share my thoughts on a variety
    of topics that interest me. Predominantly, I will be sharing thoughts and learnings
    in areas of programming, computers, technology and at times, general life events.

    <br/>
    <br/>

    When I am not writing software, I like to play video games 🎮,
    watch football ⚽ matches (staunch LFC fan), see some horror movies.
  </p>

  <h2 style="font-weight: bold;">
    What I can help you with:
  </h2>
  <p>
    I have got experience in working with different web technologies.
    I thoroughly enjoy doing backend work. If you need help in any of the following technologies
    don't hesitate to reach out.
    <ul>
      <li>Ruby.</li>
      <li>Rails: I have good experience in working with and maintaining Rails applications.
        particularly if you need a hand especially in upgrading your legacy rails applications. Just ping me.
      </li>
      <li>Python.</li>
      <li>Django.</li>
      <li>Database stuff.</li>
    </ul>
  </p>

  <h2 style="font-weight: bold;">Places where I lurk </h2>
  <span style="font-size: 48px;">
    <a href="https://github.com/4tolexx" target="_blank">
      <i class="fa-brands fa-github-alt", style="color: gray;"></i>
    </a>
    <a href="https://twitter.com/4tolexx" target="_blank">
      <i class="fa-brands fa-twitter" style="color: blue;"></i>
    </a>
    <a href="mailto:tolexreal7@gmail.com">
      <i class="fa-regular fa-envelope" style="color: red;"></i>
    </a>
    <a href="https://news.ycombinator.com/user?id=Tolexx" target="_blank">
      <i class="fa-brands fa-square-hacker-news" style="color: orange;"></i>
    </a>
    <a href="https://www.linkedin.com/in/
    uzochukwu-tochukwu-bb307683/" target="_blank">
      <i class="fa-brands fa-linkedin" style="color: lightblue;"></i>
    </a>
  </span>

  <p>
    <h2>
      <a href="/blog">Writings</a>
    </h2>
  </p>

</div>
